body {
    background-color: $background;
    color: #ffffff;
    @include asans(700);
    font-size: 18px;
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1473px;
    padding: 0 20px;
    margin: 0 auto;
}

.menu {
    &__list {
        display: flex;

        @include r(540) {
            display: none;
        }
    }

    &__item {
        transition: color 0.3s ease;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:focus {
            color: #cccccc;
        }

        &:hover {
            color: $prime;
        }

        &:active {
            color: $accent;
        }
    }

    &__btn {
        padding: 0;
        background-color: transparent;
        display: none;

        @include r(540) {
            display: flex;
        }

        svg {
            fill: #FFFFFF;
        }
    }
}

.line-text {
    position: relative;
    text-transform: uppercase;
    padding-left: 104px;
    color: #ffffff;
    @include asans(800);

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 72px;
        height: 2px;
        background-color: #ffffff;
    }
}

.arrow-text {
    position: relative;
    background-color: transparent;
    padding-right: 32px;
    transition: color 0.3s ease;

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        transition: fill 0.3s ease;
    }
}

.logo {
    display: block;
    svg {
        display: block;
        fill: #ffffff;
        transition: fill 0.3s ease;

        &:focus {
            fill: #cccccc;
        }

        &:hover {
            fill: $prime;
        }

        &:active {
            fill: $accent;
        }
    }
}
