.slider {
    padding: 212px 80px 521px;
    background-image: url('../images/content/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 464px;
    }

    &__bar {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__contacts {
        writing-mode: vertical-rl;
        margin-bottom: 24px;
    }

    &__icon {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__content {
        max-width: 950px;
        padding: 20px 20px;
    }

    &__text {
        color: $accent;

        &::before {
            background-color: $accent;
        }
    }

    &__title {
        margin-bottom: 59px;
        @include rochester(400);
        font-size: 88px;
        line-height: 1.2;
    }

    &__scroll {
        color: #FFFFFF;
    }

    .slick-dots {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        button {
            width: 77px;
            height: 60px;
            border-right: 2px solid #CCCCCC;
            background-color: transparent;
            color: #FFFFFF;
        }
    }

    .slick-dots .slick-active {
        button {
            border-right: 2px solid #FFFFFF;
        }
    }
}