.header {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 58px 0 80px;
    transition: padding 0.3s, background-color 0.3s ease;

    @include r(768) {
        padding: 24px 14px 0 14px;
    }

    &--top {
        padding: 10px 58px 10px 80px;
        background-color: #131313;

        @include r(768) {
            padding: 10px 5px 10px 5px;
        }
    }
}

.user {
    display: block;
    padding-left: 30px;
    position: relative;
    transition: color 0.3s ease;

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        fill: #ffffff;
        transition: fill 0.3s ease;
    }

    &:not(:last-child) {
        margin-right: 40px;
    }

    &:focus {
        color: #cccccc;

        svg {
            fill: #cccccc;
        }
    }

    &:hover {
        color: $prime;

        svg {
            fill: $prime;
        }
    }

    &:active {
        color: $accent;

        svg {
            fill: $accent;
        }
    }
}
