.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 58px 0 80px;

    &__logo {}
}

.user {
    display: block;
    padding-left: 30px;
    position: relative;
    transition: color 0.3s ease;

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        fill: #FFFFFF;
        transition: fill 0.3s ease;
    }

    &:not(:last-child) {
        margin-right: 40px;
    }

    &:focus {
        color: #CCCCCC;

        svg {
            fill: #CCCCCC;
        }
    }

    &:hover {
        color: $prime;

        svg {
            fill: $prime;
        }
    }

    &:active {
        color: $accent;

        svg {
            fill: $accent;
        }
    }
}